<?xml version="1.0"?>
<!--
Copyright (c) 2025 Yohan Prakoso
Copyright (c) 2026 Francisco Martín Rico
SPDX-License-Identifier: MIT AND Apache-2.0
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <plugin filename="libgz-sim-sensors-system.so"
      name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>
    <plugin name="gz::sim::systems::Imu" filename="libgz-sim-imu-system.so" />
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find easynav_playground_omni_description)/config/controller_configs/controller_config_5w.yaml</parameters>
    </plugin>
  </gazebo>
</robot>